@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Euclid";
	font-weight: 400;
	font-display: swap;
	src: url("../src/assets/fonts/EuclidCircularA-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Euclid";
	font-weight: 500;
	font-display: swap;
	src: url("../src/assets/fonts/EuclidCircularA-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "Euclid";
	font-weight: 600;
	font-display: swap;
	src: url("../src/assets/fonts/EuclidCircularA-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "Euclid";
	font-weight: 700;
	font-display: swap;
	src: url("../src/assets/fonts/EuclidCircularA-Bold.woff2") format("woff2");
}

* {
	transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
}

.no-transition * {
	transition: none;
	-o-transition: none;
	-ms-transition: none;
	-moz-transition: none;
	-webkit-transition: none;
}

html,
body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	background-color: #0c0b0e;
	font-family: "Euclid", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3 {
	font-weight: 600;
	font-family: "Euclid";
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: #0c0b0e;
	}
}

.pattern {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url("/pattern.png");
}

.menu li:hover {
	@apply text-blue cursor-pointer;
}

.ld-ring {
	position: relative;
	width: 80px;
	height: 80px;
	background: transparent;
	border: 3px solid #1f2832;
	border-radius: 50%;
	text-align: center;
	line-height: 80px;
	font-family: "Eina", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 9px;
	font-weight: 600;
	color: #07121d;
}
.ld-ring span {
	position: absolute;
	display: block;
	top: -3px;
	left: -3px;
	width: 80px;
	height: 80px;
	border: 3px solid transparent;
	border-top-color: #32c1cc;
	border-left-color: #32c1cc;
	border-radius: 50%;
	animation: animateC 1.3s linear infinite;
}
.ld-ring.dt {
	width: 40px;
	height: 40px;
}
.ld-ring.dt span {
	width: 40px;
	height: 40px;
}

@keyframes animateC {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.t-origin-t-c {
	transform-origin: top center;
}
